<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProductWebServiceSoap1" />
                <binding name="BasicHttpBinding_IProductWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44328/ProductWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductWebServiceSoap"
                contract="ProductWebService.ProductWebServiceSoap" name="ProductWebServiceSoap" />
            <endpoint address="http://localhost:54190/ProductWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductWcfService"
                contract="ProductWcfService.IProductWcfService" name="BasicHttpBinding_IProductWcfService" />
        </client>
    </system.serviceModel>
  
  
</configuration>